<!doctype html>
<html lang="en">

<head>
  {% include 'head.html' %}
  <title>{% if post %}Edit Post{% else %}Create Post{% endif %}</title>
</head>

<body class="d-flex flex-column min-vh-100" style="
      background-image: url(&quot;img/pexels-shotbyrain-4705118.jpg&quot;);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    ">
  <!-- Navbar -->
  {% include 'header.html' %}
  {% if error %}
  <div class="alert alert-dark" role="alert">
    {{error}}
  </div>
  {% endif %}

  <!-- Create Post Form -->
<form action="{% if post %}{{ url_for('posts.edit_post', post_id=post.post_id) }}{% else %}{{ url_for('posts.create_post') }}{% endif %}"
    method="POST" enctype="multipart/form-data" class="flex-grow-1">
    <div class="container mt-5">
      <div class="form-group">
        <label for="posttitle">Post Title</label>
        <input type="text" class="form-control" id="posttitle" name="title"
          value="{% if post %}{{ post.title }}{% endif %}" placeholder="Enter post title" />
      </div>
      <div class="form-group">
        <label for="postcontent">Post Content</label>
        <textarea class="form-control" id="postcontent" name="body" rows="5"
          placeholder="Enter post content">{% if post %}{{ post.body }}{% endif %}</textarea>
      </div>
      <div class="form-group">
        <label for="postimage">Upload Image</label>
        <input type="file" class="form-control" id="postimage" name="image" {% if not post %}required{% endif %} />
        {% if post and post.image_url %}
        <div class="mt-2">
          <img src="{{ post.image_url }}" style="height:150px;" alt="Current Image">
        </div>
        {% endif %}
      </div>
      <button type="submit" class="btn btn-dark">{% if post %}Update Post{% else %}Submit{% endif %}</button>
    </div>
  </form>

  {% include 'footer.html' %}
</body>

</html>